.background-wrapper {
  min-height: 100vh;
  background-image: url("/images/car11.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
*{
  margin: 0%;
  padding: 0%;
  font-family: "Outfit";
}